<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
    <form class="" action="/post/postAdd" method="post">
      <div class="form-group">
        <label for="Title">Title:</label>
        <input type="text" class="form-control" id="title" name="title" value="">
      </div>
      <div class="form-group">
        <label for="Author">Author:</label>
      <input type="text" class="form-control" id="author" name="author" value="">
    </div>
      <div class="form-group">
        <label for="Content">Content:</label>
        <input type="text" class="form-control" id="content" name="content" value="">
      </div>
          <input type="submit" class="btn btn-warning" name="submit" value="Submit">

    </form>
    </div>
  </body>
</html>
