<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>User details</h1>
    Name:<%= user1.name %><p>
    Email:<%= user1.email %><p>
    Password:<%= user1.password %>
  
  </body>
</html>
